.sect1{
    display: flex;
    width: 100vw;
}

.nam1{
    height: 40px;
    width: 50vw;
    background-color: black;
}
.nam2{
    height: 40px;
    width: 50vw;
    background-color: #F58020;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.topcontact{
    font-size: 19px;
}
.topsec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.topnumber{
    color: white;
    font-size: 18px;
    /* font-size: large; */
    font-weight: bold;
}



#nav nav{
    
    display: flex;
    justify-content: space-around;
    /* margin: 5px 0; */

}
.logo img{
    height: 150px; 
    width: 150px; 
    object-fit: cover;
}
 #nav nav ul{
    display: block;
    list-style: none;
}
#nav  nav ul li{
    display: inline;
    margin-left: 20px;
    
}
 #nav nav ul li a{
    text-decoration: none;
    color: #000;
    line-height: 90px;
    font-size: 15px;
    
}


.homeimage{
    width: 100vw;
    height: 60vh;
}