@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,700;1,900&family=Luckiest+Guy&family=Poppins:ital,wght@0,600;0,700;0,900;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.sect1{
    display: flex;
    width: auto;
}

.nam1{
    height: 40px;
    width: 50vw;
    background-color: black;
}
.nam2{
    height: 40px;
    width: 50vw;
    background-color: #F58020;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.topcontact{
    font-size: 19px;
}
.topsec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.topnumber{
    color: white;
    font-size: 18px;
    /* font-size: large; */
    font-weight: bold;
}



#nav nav{
    
    display: flex;
    justify-content: space-around;
    /* margin: 5px 0; */

}
.logo{
    height: 150px; 
    width: 150px; 
    object-fit: cover;
}
 #nav nav ul{
    display: block;
    list-style: none;
}
#nav  nav ul li{
    display: inline;
    margin-left: 20px;
    
}
 #nav nav ul li a{
    text-decoration: none;
    color: #000;
    line-height: 90px;
    font-size: 15px;
    
}


.homeimage {
    height: 73vh; 
    width: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/src/Assets/Plum.jpg);
}

.overlay h2{
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
}
.overlay p{
    color: #F58020;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}
.buton{
    background-color: #F58020;
    color: white;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: center;
    
}
.linky{
    text-decoration: none;
}
.btnbody{
    display: flex;
    justify-content: center;

}





.about{
    width: auto;
    height: 70vh;
    background-color: #f3f3f5;
    padding-top: 20px;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.abouthead{
    margin-bottom: 2rem;
}






.services h2{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}
.services p{
    text-align: center;
    color: #fca311;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    
}
.service-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.service{
    background-color: #fff;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
}
.service:nth-child(3){
    margin-left: 0;
    margin-right: 0;
}
.service:nth-child(2){
    margin-right: 60px;
    margin-left: 0;
}
.service:nth-child(1){
    margin-right: 60px;
    margin-left: 0;
}
.service:nth-child(4){
    margin-left: 60px;
}
/* .service:nth-child(4){
    margin-right: 60px;
} */
.service img{
    height: 100px;
    object-fit: cover;

    
}
.service h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 3px;
}





.whyus{
    height: 65vh; 
    width: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url(/src/Assets/tools.jpg);
}
.whyhead{
    color:#22a8d8;
    margin-bottom: 2rem;
}
.whyhead1{
    color:#fca311;
    margin-bottom: 2rem;
}

.contentt{
    background-color: rgb(247, 247, 247, 0.7);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.3);
}





.contact{
    background-color: #969696;
    margin-top: 30px;
    padding: 20px;
    color: #fff;
    
}

.contacts h3{
    font-size: 16px;
    font-weight: 400;
   
    
}
.contacts ul{
    display: block;
    list-style: none;
    margin-top: 10px;
}
.contacts ul li{
    margin-top: 10px;
    font-size: 15px;
}
.contacts ul li .fas{
    margin-right: 10px;
}
.social{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 400;
}
.social-links{
    display: block;
}
.social-links li{
    display: inline;
}
.social-links li:nth-child(2){
    margin-left: 10px;
}
.social-links li:nth-child(3){
    margin-left: 10px;
}
.social-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    
}
.footer-logo{
    height: 90px;
    width: 150px;
    
    
}
.footer-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.footer-links ul{
    display: block;
    list-style: none;
}
.footer-links ul li{
    margin-top: 5px;
    
}
.footer-links ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
    font-size: 15px; 
}

hr{
    margin-top: 20px;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}


.courel{
    width: auto;
    height: 60vh;
}